.shop {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.shop-text__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.shop-text__description {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.shop__image {
  display: block;

  width: 700px;
  height: 700px;

  box-shadow: 0px 0px 10px 5px var(--point-color1);
}

@media (max-width: 750px) {
  .shop__image {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
}
